<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="./static/index.js"></script>
</head>


<body>
   <h1> web rtc demo </h1>
    <div class="vido-container">
         <video autoplay id="local-video"></video>
          <video autoplay id="external-video"></video>
    </div>
   

  

   <button label="call" id="callBtn"> call</button>
   </div>


</body>

</html>